
body {
    background-color: #f0f2fa;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial",
      sans-serif;
    color: #555f77;
    -webkit-font-smoothing: antialiased;
  }

  .container {
    padding-right: 15px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;

  }
  .container2 {
    margin-right: 15px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
  }
  .join-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 30%;

  }

  .pure-menu-list {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
  .alinear {
    margin-left: auto;
  }

  .link {
    color:gray;
    text-decoration: none;
  }

  .title {
    color:black;
    text-decoration: none;
  }
  .logo {
    height: 34px;
    width: 34px;
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

button {
  border-radius: 5px;
  background-color: darkorange;
  color:white;
  /* min-height: 36px; */
  font-weight: 600;
  border:none;
  margin-top: 2em;

}

.comentis{
  border-radius: 10px;
  background-color:rgb(214, 29, 88);
  color:white;
  min-height: 36px;
  font-weight: 600;
  border:none;
}

.count {
  border-bottom: 3px solid darkorange ;

  padding-left: 20px;
}

input {
  width: 300px;
  height: 35px;
  border-radius: 15px;
  border: none;
  padding-left: 10px;
}
input:active{
  border:1px solid black;
}

textarea {
  width: 300px;
  border-radius: 15px;
  border: none;
  padding-left: 10px;
  padding-top: 10px;
}

